ol li { display: inline;
}
ol li a.selected {background-color: rgb(85, 145, 201);
                  padding: 1.5%;
                  border-radius: 5%;
                  
}

ol li a:link, ol li a:visited {border-bottom:none;
                               color:rgb(1, 1, 66);
                              
}

nav{ background-color: rgb(163, 214, 248);
     padding:2.5px;
     border-radius: 5%;
     margin: 10px 0px;
    }

header{ border-bottom: solid gray;
        background-color: azure;
        padding: 1.5%;
        border-radius:2%;
}

article { background-color:rgb(129, 235, 199);
          padding:2.5%;
}

body { background-color:black;
       font-family:sans-serif;
}