header h1 { text-align:left;
            font-family: sans-serif;
            font-weight: bolder;
            color:rgb(153, 247, 3);
            background-color: black;
            padding:2.5%;
            border-radius:5%;
            border-style: groove;
            border-color: orangered;
            
      }

body {background-color: rgb(51, 1, 51);
      font-family: sans-serif;
}

 ol  { background-color:rgb(245, 245, 142);
       padding: 5px 10px;
       border-radius: 5%;
}


ol li {display:inline;
       padding:10px;
}

.selected {background-color: rgb(247, 162, 4);
           padding:5px 10px;
           border-radius: 5%;
}

ol li a:link, ul li a:visited, ul li a:hover {
    border-bottom: none;
    font-weight: bold;
    color:rgb(2, 2, 54);
    }

article { background-color: rgb(116, 245, 232);
          padding: 10px;
          border-radius: 5px;
}

article h1, article h3 { font-weight: bold;
                        color:rgb(1, 1, 63);
}

 article p.intro { color: rgb(231, 42, 8);
                   font-weight:bold;
                   font-family: Comic Sans, sans serif;
}

article article.example1 { background-color: rgb(252, 215, 52);
                          border-radius: 5px;
                          border: dashed rgb(4, 4, 168);
                          font-family:Andale Mono, sans serif;
                          
}

article article.example2 { background-color: red;
                           border-radius:5px;
                           border:dashed rgb(50, 0, 59);
                           font-family: Andale Mono, sans serif;
                           

}
article article.example1 p , article article.example2 p { color:black;
                                                          font-weight: normal;
                                                          font-size:medium;
}

article h1 {font-family: Impact, sans-serif;
            font-size: 300%;
            letter-spacing: 3px;
}

h3 {font-family: Trebuchet MS, sans serif;}

article p { font-weight: bold;
            font-size: 200%;
            color:rgb(35, 1, 51);
}